Package: com.hackxhj.hookdd
Name: hookdd
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: hackxhj
Author: hackxhj
Section: Tweaks
